@import "../components/global/_global";

.container {
  min-height: 100vh;
  position: relative;
  padding: $size-four 0;
  background-color: $background-black;

  &-flex {
    @include default-flex;
  }

  &-grid {
    @include default-grid;
  }
}

.absolute-wrapper {
  position: absolute;
  width: 100%;
  overflow-y: hidden;
}
