@import "../components/global/_global.scss";

.container {
  min-height: 100vh;
  position: relative;

  @include default-flex;

  background: linear-gradient(180deg, $background-black 66.67%, rgb(41, 41, 41) 100%);
}