.project__container {
  padding: 3rem 0;
  width: 75%;
  z-index: 1;
  margin-bottom: 5rem;
}

@media (max-width: 900px) {
  .project__container {
    width: 100%;
    margin: auto;
  }
}

.project__container h2 {
  font-size: 2rem;
  font-weight: 600;
  max-width: 20rem;
  padding-bottom: 1rem;
}

@media (max-width: 900px) {
  .project__container h2 {
    font-size: 1.5rem;
  }
}

.project__container h2, .project__container h3 {
  color: #e0e0f4;
  color: #c8c8c8;
}

.project__container h3 {
  font-weight: 400;
}

.project__container p {
  font-size: 1rem;
  font-weight: 200;
  max-width: 20rem;
  color: #c8c8c8;
  margin: 0 5rem 2rem 0;
}

@media (max-width: 1280px) {
  .project__container p {
    max-width: 100%;
    margin: 0 0 2rem 0;
  }
}

.project__content {
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project__content_image_first {
  background-image: url(woltL.PNG);
  background-size: cover;
  height: 25rem;
  width: 100%;
  max-width: 35rem;
  position: relative;
  cursor: pointer;
  outline: 1px solid transparent;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

@media (max-width: 1280px) {
  .project__content_image_first {
    max-width: 100%;
  }
}

.project__content_image_first:hover {
  outline: 1px solid white;
  outline-offset: -1rem;
}

.project__content_image_first::before {
  background-image: url(wolt.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  height: 25rem;
  width: 17rem;
  position: absolute;
  bottom: -15%;
  left: -15%;
}

@media (max-width: 1280px) {
  .project__content_image_first::before {
    max-width: 100%;
    left: 0%;
    bottom: -10%;
  }
}

.project__content_image_second {
  background-image: url(myraL.PNG);
  background-size: cover;
  height: 25rem;
  width: 100%;
  max-width: 35rem;
  position: relative;
  cursor: pointer;
  outline: 1px solid transparent;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

@media (max-width: 1280px) {
  .project__content_image_second {
    max-width: 100%;
  }
}

.project__content_image_second:hover {
  outline: 1px solid white;
  outline-offset: -1rem;
}

.project__content_image_second::before {
  background-image: url(myraS.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  height: 25rem;
  width: 17rem;
  position: absolute;
  bottom: -15%;
  left: -15%;
}

@media (max-width: 1280px) {
  .project__content_image_second::before {
    max-width: 100%;
    left: 0%;
    bottom: -10%;
  }
}

.project__content_link {
  text-decoration: none;
  font-weight: 800;
  display: block;
  color: #e0e0f4;
  padding-top: 1rem;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

.project__content_link:hover {
  color: #c8c8c8;
}
/*# sourceMappingURL=project.css.map */