@import "../global/_global.scss";

.button {
	text-transform: uppercase;
	padding: $size-one-half $size-two;
	border: 1px solid $theme-cyan;
	cursor: pointer;
	font-weight: 200;
	box-shadow: 6px 3px 3px rgb(0, 0, 0);
	border-radius: 0;

	@include default-transition($time: 0.4s);

	&:hover {
		background-color: $theme-cyan;
		color: $background-black;
    box-shadow: 0px 0px 169px 20px rgba(25, 190, 219, 0.7);
		border-radius: 1rem;
	}

	&__default {
		background-color: transparent;
		color: $button-white;
	}
}
