@import "../global/_global.scss";

.button {
	text-transform: uppercase;
	padding: $size-one-half $size-two;
	border: 1px solid $theme-cyan;
	cursor: pointer;
	font-weight: 200;

	@include default-transition;

	&:hover {
		background-color: $theme-cyan;
		color: $background-black;
	}

	&-default {
		background-color: transparent;
		color: $button-white;
	}
}