@import "../global/_global.scss";

.article {
  padding-bottom: $size-three;
  color: $text-white;
  position: relative;

  h2 {
    font-size: $size-one-plus-fourth;
    font-weight: 800;
    letter-spacing: 0.1rem;
    padding-bottom: $size-one-third;
  }

  h3 {
    font-size: $size-one;
    font-weight: 400;
    padding-bottom: $size-one-half;
    white-space: nowrap;
    color: $text-gray;
  }

  p {
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    max-width: 34.5rem;
    color: $text-gray;
  }
}
