@import "../global/_global.scss";

.fluff-text {
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: fixed;
  left: 0;
  top: 90vh;
  width: 4rem;
  z-index: 2;
  

  @include breakpoint-small {
    display: none;
  }

  span {
    position: relative;
    font-weight: 200;
    color: white;
    font-size: 2rem;
    padding-left: 5rem;
    border-bottom: 0.2rem solid $theme-cyan;

    &::after {
      position: absolute;
      top: 1rem;
      left: 10%;
      content: "";
      width: 8rem;
      box-shadow: 0px 0px 169px 30px rgba(25, 190, 219, 0.7);
    }
  }
}