@import "../global/_global.scss";

.fluff-text {
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: absolute;
  left: -6rem;
  bottom: 30%;
  width: 20rem;

  @include breakpoint-small {
    display: none;
  }

  span {
    position: relative;
    font-weight: 200;
    color: white;
    font-size: 4rem;

    &::after {
      position: absolute;
      top: 5rem;
      left: 50%;
      content: "";
      border-top: 0.2rem solid $theme-cyan;
      width: 10rem;
    }
  }
}