@import "../global/_global.scss";

.logo {
  cursor: pointer;
  font-weight: 400;
  font-size: $size-one;
  white-space: nowrap;
  position: relative;

  @include default-transition;

  &-icons {
    margin: 0 $size-one;

    img {
      height: $size-one-plus-half;
      width: $size-one-plus-half;
      cursor: pointer;
      margin: 0 $size-one-half;
    }
  }

  &::after {
    position: absolute;
    content: "";
    left: -50%;
    top: 50%;
    border-bottom: $size-one-tenth solid $theme-cyan;
    width: 11rem;
    height: $size-one;
  }
}
