@import "../global/_global.scss";

.logo {
  padding: $size-one-half;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: $size-one-tenth;
  font-size: 0.9rem;

  @include default-transition;

  &-icons {
    margin: 0 $size-one;

    img {
      height: $size-one-plus-half;
      width: $size-one-plus-half;
      cursor: pointer;
      margin: 0 $size-one-half;
    }
  }
}
