.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
  height: 4rem;
}

.navbar * {
  color: #e0e0f4;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-right span {
  margin: 0.5rem 2rem;
  position: relative;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

.navbar-right span::after {
  position: absolute;
  left: 0%;
  bottom: -0.5rem;
  content: "";
  width: 0%;
  border-top: 0.1rem solid #07acdb;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

.navbar-right span:hover {
  color: rgba(250, 250, 250, 0.5);
}

.navbar-right span:hover::after {
  width: 100%;
}

.navbar-right .nav-items-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-left {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  .navbar .nav-items-large {
    display: none;
  }
}

.active {
  position: relative;
}

.active span::after {
  position: absolute;
  left: 0%;
  bottom: -0.5rem;
  content: "";
  width: 100%;
  border-top: 0.2rem solid #07acdb;
  -webkit-box-shadow: 0px 0px 169px 30px rgba(25, 190, 219, 0.7);
          box-shadow: 0px 0px 169px 30px rgba(25, 190, 219, 0.7);
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

.nav-items-small {
  display: none;
  margin-top: 1rem;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-items-small {
    display: block;
  }
}

#nav-line-first, #nav-line-second, #nav-line-third {
  height: 0.1rem;
  background-color: white;
  margin-bottom: 0.5rem;
  width: 2rem;
  margin-left: auto;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}

#nav-line-second {
  height: 0.2rem;
  background-color: #07acdb;
}

#nav-line-third {
  width: 1rem;
}
/*# sourceMappingURL=navbar.css.map */