@import "../../components/global/global";

.work-recent-project {
  color: white;
  max-width: 30rem;

  h2 {
    font-size: $size-one-plus-fourth;
    font-weight: 400;
    padding-bottom: $size-one;
  }

  p {
    font-size: 0.9rem;
    font-weight: 200;
    max-width: 30rem;
  }
}

.work__container {
  padding-top: $size-three;
}


