@import "../global/_global.scss";

.intro-container {
  h1 {
    color: $pure-white;
    font-size: $size-four;
    font-weight: 800;
    margin-bottom: $size-one;
    position: relative;

    @include breakpoint-small {
      font-size: $size-three-plus-one-third;
    }
  }

  h2 {
    color: $text-gray;
    font-weight: 400;
    margin-bottom: $size-one-plus-half;

    @include breakpoint-small {
      font-size: $size-one-plus-two-fifths;
    }
  }

  p {
    font-size: 1.1rem;
    color: $text-gray;
    font-weight: 200;

    @include breakpoint-small {
      font-size: $size-one;
    }
  }

  .button {
    margin-top: $size-two;
  }
}