@import "../global/_global.scss";

.intro__wrapper {

  @include breakpoint-small {
    width: 80%;
    padding-top: $size-three;
  }

  h1 {
    color: $pure-white;
    font-size: $size-four;
    font-weight: 800;
    margin-bottom: $size-one;
    position: relative;
    padding-bottom: $size-one;

    @include breakpoint-small {
      font-size: $size-three;
    }
  }

  h2 {
    color: $text-gray;
    font-weight: 400;
    margin-bottom: $size-one-plus-half;

    @include breakpoint-small {
      font-size: $size-one-plus-two-fifths;
    }
  }

  p {
    color: $text-gray;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;

    @include breakpoint-small {
      font-size: $size-one;
    }
  }

  .button {
    margin-top: $size-two;
  }
}